<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h4>Welcome, @ViewBag.student.name</h4>

    <strong><a href="create/@ViewBag.student.studentid">Create Belt</a></strong> <br>

    <h5> <strong>All the Belts:</strong> </h5>
    
        <table>
            <thead>
                <td>Color</td>
                <td>Description</td>
                <td>Action</td>
                <td>Created By</td>
            </thead>
    @{
        foreach(var i in @ViewBag.allBelts)
        {
            <tbody>
                <tr>
                <td><a href="show/@i.beltid">@i.color</a></td>
                <td>@i.description</td>
                <td><a href="add/@i.beltid">Add</a></td>
                <td>@i.student.name</td>
                </tr>
            </tbody>
        
        }
    }
    </table>

    <h5><strong>The belts you have:</strong></h5>

@{
    foreach(var i in ViewBag.success)
    {
        if(@i == null)
        {
            <p>poop</p>
            }else{
    
        <table>
            <thead>
                <td>Color</td>
                <td>Description</td>
                <td>Action</td>
                

            </thead>
            <tbody>
                <tr>
                <td><a href="showe/@i.successid">@i.belt.color</a></td>
                <td>@i.belt.description</td>
                <td><a href="update/@i.successid">Update</a></td>

                </tr>
            </tbody>
        </table>
                
                }

    }
}

</body>
<a href="logout">Logout</a>
</html>